<header class="p-3 bg-info text-white text-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../assets/img/logo.png" style="height:75px;" alt="">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

      </ul>


      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Usuario</button>
        <button type="button" class="btn btn-primary">Visualizar información</button>
      </div>
    </div>
  </div>
</header>

<app-conformidades></app-conformidades>